* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    body {
        margin: 0;
        display: block;
        place-items: center;
        min-width: 320px;
        min-height: 100vh;
    }
  }
  
 

  .container-about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Define a altura total da tela */
    width: 100vw;
    background-color: #f2f2f2; /* Cor de fundo opcional */
}
  
  