* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #762727;
}

html, body {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Faz com que o contêiner principal ocupe toda a altura da página */
}

.content {
  flex: 1; /* Faz com que o conteúdo ocupe o espaço restante */
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  background-color: rgb(1, 22, 22);
  width: 100%;
  height: 60vh; /* Ajuste conforme necessário */
  padding-top: 25px;
}
