* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column; /* Permite que o conteúdo cresça na vertical */
  background-color: white;
}

.content-about{
flex: 1; /* Faz com que o conteúdo preencha o espaço restante */
display: flex;
flex-direction: column;
width: 100vw;
background-color: white;
}


  